---
import { Image } from "astro:assets";
const { post } = Astro.props;
---

<article
  class="overflow-hidden bg-white border border-gray-100 rounded-lg shadow-xs"
>
  <Image
    alt={post.data.title}
    width={1200}
    height={630}
    src={post.data.cover}
    class="object-cover w-full h-64"
  />

  <div class="p-4 sm:p-6">
    <a href={`/${post.collection}/${post.id}`}>
      <h3 class="text-lg font-medium text-gray-900">{post.data.title}</h3>
    </a>

    <p class="mt-2 text-gray-500 line-clamp-3 text-sm/relaxed">
      {post.data.description}
    </p>

    <a
      href={`/${post.collection}/${post.id}`}
      class="inline-flex items-center gap-1 mt-4 text-sm font-medium text-blue-600 group"
    >
      Find out more

      <span aria-hidden="true" class="block transition-all group-hover:ms-0.5">
        &rarr;
      </span>
    </a>
  </div>
</article>
